<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Recommender</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="container">
        <form action="/submit" method="post">
            <h1>Search Song Popularity</h1>

            <label for="search">Type to search:</label>
            <input type="text" id="search" name="search" placeholder="Search">

            <label for="items">Choose an item:</label>
            <select name="items" id="items">
                <option value="">--Select an item--</option>
            </select>

            <button type="submit">Submit</button>

            {% if name and artist %}
            <p>{{ name }} ({{ artist }}) popularity: {{ pop }}%</p>
            {% endif %}
        </form>

        <a href="{{ url_for('main.recommend') }}" class="recommend-button">Go to Recommend Page</a>
    </div>
</body>

</html>